
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/ReceptionLayout.cshtml";
}




<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><h2>Page du contact </h2></div>
    <div class="panel-body">
        <p>
           La page ou le client peut contacter les administrateurs plus facilement
        </p>
    </div>


</div>