
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><h2>Page a propos </h2></div>
    <div class="panel-body">
        <p>
            Dan cette Page on affiche des informatioons a propos du notre application mais seulement sur la coté client <br />
            genre tous ce qu'il peut utiliser , comment utiliser , comment reporter ne probleme, et les nouveau mise a jour de l'application
        </p>
    </div>


</div>

