
@{
    ViewBag.Title = "PschangeSuccess";
    Layout = "~/Views/Shared/ReceptionLayout.cshtml";
}
<style>
    .back {
        background-color: white;
        margin-top: 15px;
        margin-bottom: 15px;
        padding-bottom: 300px;
        padding-top:10px;
        padding-left:5px;
        padding-right:5px;
    }
</style>
<div class="back">
    <h2 class="alert alert-success">Changement du mot de passe avec succés</h2>
</div>
