


@{
    Layout = "";
}
<p class="alert alert-danger" align="center"> @ViewBag.popup !!</p>
<div align="center">
    <a class="btn btn-primary" href="@Url.Action("Login","Account")">Connexion</a>
    <a class="btn btn-primary" href="@Url.Action("Register","Account")">Nouveau Compte</a>
</div>